html {
    background-color: #323334 !important;
}
html, body, input, textarea, select, button {
    background-color: #323334;
}
html, body, input, textarea, select, button {
    border-color: #616161;
    color: #ceccca;
}
a {
    color: #468ddf;
}
table {
    border-color: #595959;
}
::placeholder {
    color: #aba8a0;
}
::selection {
    background-color: #2065b9;
    color: #dfdfdf;
}
::-moz-selection {
    background-color: #2065b9;
    color: #dfdfdf;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #5f6420 !important;
    color: #ceccca !important;
}