html {
    background-color: #323334 !important;
}
html, body, input, textarea, select, button {
    background-color: #323334;
}
html, body, input, textarea, select, button {
    border-color: #616161;
    color: #ceccca;
}
a {
    color: #468ddf;
}
table {
    border-color: #595959;
}
::placeholder {
    color: #aba8a0;
}
::selection {
    background-color: #2065b9;
    color: #dfdfdf;
}
::-moz-selection {
    background-color: #2065b9;
    color: #dfdfdf;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #5f6420 !important;
    color: #ceccca !important;
}
[data-darkreader-inline-bgcolor] {
    background-color: var(--darkreader-inline-bgcolor) !important;
  }
  [data-darkreader-inline-bgimage] {
    background-image: var(--darkreader-inline-bgimage) !important;
  }
  [data-darkreader-inline-border] {
    border-color: var(--darkreader-inline-border) !important;
  }
  [data-darkreader-inline-border-bottom] {
    border-bottom-color: var(--darkreader-inline-border-bottom) !important;
  }
  [data-darkreader-inline-border-left] {
    border-left-color: var(--darkreader-inline-border-left) !important;
  }
  [data-darkreader-inline-border-right] {
    border-right-color: var(--darkreader-inline-border-right) !important;
  }
  [data-darkreader-inline-border-top] {
    border-top-color: var(--darkreader-inline-border-top) !important;
  }
  [data-darkreader-inline-boxshadow] {
    box-shadow: var(--darkreader-inline-boxshadow) !important;
  }
  [data-darkreader-inline-color] {
    color: var(--darkreader-inline-color) !important;
  }
  [data-darkreader-inline-fill] {
    fill: var(--darkreader-inline-fill) !important;
  }
  [data-darkreader-inline-stroke] {
    stroke: var(--darkreader-inline-stroke) !important;
  }
  [data-darkreader-inline-outline] {
    outline-color: var(--darkreader-inline-outline) !important;
  }