h1 {
    text-align:center;
    font-family:Rubik;
    margin-left: 70px;
    margin-right: 70px;
    font-size:48pt;
    margin-top:0px;
    margin-bottom: 0px;
}

h2 {
    color:#f25;
    font-family:'Space Mono';
    margin-left: 70px;
    margin-right: 70px;
}

h3 {
    font-family:Abel;
    margin-left: 28%;
    color: #ddd;
}

h4 {
    font-family:Abel;
    
    color: #ddd;
}

h5 {
    font-family:Abel;
    
    color: #ddd;
}

p {
    font-family:Abel;
    font-size: 15px;
}

body {
    background-color: #181a1b;
    
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper img {
  margin-left: 28%;
  width:30%; 
  height:auto;
}
