h1 {
    text-align:center;
    font-family:Rubik;
    margin-left: 70px;
    margin-right: 70px;
    font-size:48pt;
    margin-top:15%;
    margin-bottom: 0px;
    color: #f25;
}

h2 {
    margin-top:10%;
    color:#f25;
    font-size:48pt;
    font-family:'Rubik';
    margin-left: 70px;
    margin-right: 70px;
}

h3 {
    font-family:Abel;
    color: #ddd;
}

h4 {
    font-family:Abel;
    
    color: #ddd;
}

h5 {
    font-family:Abel;
    
    color: #ddd;
}

p {
    font-family:Abel;
    font-size: 15px;
}

body {
    background-color: #181a1b;
    
}

/* im a ninja */
.hiddentext {
    color: #181a1b;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.wrapper img {
  margin-left: 28%;
  width:50%; 
  height:auto;
}

a {
    color: #f25;
}
a:visited {
    color: #f25;
}
a:hover {
    color: #f25;
}
a:active {
    color: #f25;
}

img.emoji {
    width: 1.5em;
}
